@font-face {
	font-family: 'UbuntuMono-Regular';
	src: local('UbuntuMono-Regular'), url(../fonts/UbuntuMono-Regular.ttf) format('truetype');
}

body {
	font-family: UbuntuMono-Regular;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}
.content {
	display: flex;
	height: 95vh;
	flex: auto;
	flex-direction: row;
	text-align: center;

}

.sidebar {
	background-color: #4a4d52;
	height: 100%;
	width: 30%;
}

.main-column {
	background-color: #737880;
	height: 100%;
	width: 70%;
}